<configuration debug="false">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are  by default assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.zaxxer.hikari.pool" level="INFO" />

    <logger name="slick.compiler" level="INFO" />
    <logger name="slick.relational.ResultConverterCompiler" level="INFO" />
    <logger name="slick.jdbc.JdbcBackend.benchmark" level="INFO" />
    <logger name="slick.backend.DatabaseComponent.action" level="INFO" />
    <logger name="net.sf.ehcache" level="INFO" />

    <logger name="play.api.libs.ws.ning" level="INFO" />

    <logger name="com.ning.http.client.providers.netty.handler" level="DEBUG" />
    <logger name="com.ning.http.client" level="INFO" />

    <logger name="ch.qos.logback" level="INFO" />

    <logger name="com.google.inject.internal.BytecodeGen" level="INFO" />
    <logger name="com.google.inject.internal.util.Stopwatch" level="INFO" />


    <logger name="com.ning.http.client.providers.netty.channel.pool" level="INFO" />
    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>